In [ ]:
# Connection to database

sqlite3.connect(database [,timeout ,other optional arguments])



This API opens a connection to the SQLite database file. 

You can use ":memory:" to open a database connection to a database that resides in RAM instead of on disk. 

# COnnection using cursor to fetch
connection.cursor([cursorClass])

1.Declare a cursor that defines a result set. 
2.Open the cursor to establish the result set. 
3.Fetch the data into local variables as needed from the cursor, one row at a time. 
4.Close the cursor when don

# Execute - Using cursor
cursor.execute(sql [, optional parameters])

The SQL statement may be parameterized (i. e. placeholders instead of SQL literals). 
The sqlite3 module supports two kinds of placeholders: 
    question marks(??) and 
    named placeholders (named style).
    
 # Execute  - directly using connection 
connection.execute(sql [, optional parameters])

# Execute many

cursor.executemany(sql, seq_of_parameters)
connection.executemany(sql[, parameters])

#Script
cursor.executescript(sql_script)
connection.executescript(sql_script)

# only using connection
connection.total_changes()
connection.commit()
connection.rollback()
connection.close()

cursor.fetchone()
cursor.fetchmany([size = cursor.arraysize])
cursor.fetchall()

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('dbase2')

In [ ]:
curs = conn.cursor()#a cursor for submitting SQL statements to the database server

In [ ]:
tblcmd = 'create table stud (name char(30), review char(10), Status char(10))'

In [ ]:
curs.execute(tblcmd)

In [ ]:
curs.execute('insert into stud values("Bob", "yes", "accepted")')

In [ ]:
curs.rowcount

In [ ]:
conn.commit()

In [ ]:
curs.execute('select * from stud')

In [ ]:
for row in curs.fetchall():
    print (row)

In [ ]:
#parameterized query
curs.execute('insert into stud values (?,?,?)',('Cathy','done','accepted'))

In [ ]:
#Execute Many
curs.executemany('insert into stud values(?,?,?)',
                 [('Raj',"notdone",'nil'),('Maria',"Ram", 'accepted')])

In [ ]:
rows = [('John',"done",'rejected'),('silvia',"notdone",'nil')]
for row in rows:
    curs.execute('insert into stud values(?,?,?)', row)

In [ ]:
curs.execute('select * from stud')
curs.fetchall()

In [ ]:
curs.execute('select * from stud')
for row in curs.fetchall():
    print(row)

In [ ]:
curs.execute('select * from stud')
names = [rec[0] for rec in curs.fetchall()]
names

In [ ]:
curs.execute('select name, status from stud')
for (name,Status) in curs.fetchall():
    print (name,':',Status )

In [1]:
import sqlite3
conn = sqlite3.connect('dbase1')
curs = conn.cursor()
curs.execute('create table detai (name char(30), age char(10), native char(10))')
file = open('data.txt')
rows = [line.rstrip().split(',') for line in file]
print(rows)
for rec in rows:
    curs.execute('insert into detai values (?, ?, ?)', rec)
conn.commit()
curs.execute('select * from detai')
print(curs.fetchall())
conn.close() # close, __del__ call rollback if changes not committed yet

[['Hi', ' hello', ' hey'], ['1', '2', '3'], ['A', 'b', 'c']]
[('Hi', ' hello', ' hey'), ('1', '2', '3'), ('A', 'b', 'c')]

In [ ]:
#Select with where clause
curs.execute('select * from student')
query = 'select name from student where status= ? order by name'
curs.execute(query,['rejected'])
for row in curs.fetchall():
    print (row)

In [ ]:
curs.execute('update student set status=? where name = ?', ['rejected', 'Cathy'])

In [ ]:
curs.rowcount

In [ ]:
curs.execute("delete from student where name='Cathy'")

In [ ]:
cmd = "CREATE TABLE PERSONS (P_Id int NOT NULL PRIMARY KEY, LastName char(40), FirstName char(40), Address char(40))"
curs.execute(cmd)

In [ ]:
cmd = "CREATE TABLE Orders(O_Id int NOT NULL PRIMARY KEY,OrderNo int NOT NULL, P_Id int, FOREIGN KEY(P_Id) REFERENCES Persons(P_Id))"
curs.execute(cmd)

In [ ]:
#fetchone will fetch one row
#fetchmanycall returns a sequence of rows from the result, but not the entire table

In [ ]:
import way2sms
q=way2sms.sms('7598332110','2900')
q.send('9600070911','hi')
n=q.msgSentToday()
q.logout()
print "no of sms sent today",n

In [ ]:
tblcm = 'create table studs (name char(30), mark int(4))'
curs.execute(tblcm)

In [ ]:
curs.execute('insert into studs values(?, ?)', ('Bob', 23))

In [ ]:
query = 'select mark from stud where name= ?'
curs.execute(query,['Bob'])
for row in curs.fetchall():
    print row[0]+1